node_modules
**/node_modules
.env.local
.git
.gitignore
README.md
docs/
ci/
infra/
scripts/
security/
.DS_Store
*.log
.vscode/
.husky/
.pnpm-store/
gitleaks-report*.json
baseline.yaml
test*.yaml
mock-server/